.md-editor-page-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-left: 3.5rem;
    padding-right: 0.5rem;
    height: 4vh;
}
.md-editor-page-top > h3 {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
}
.md-editor-page-top > button {
    width: 4vw;
    height: 4vh;
}

