.content {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    padding: 4rem 1rem;
    flex-grow: 2;
}
.content-top {
    min-width: 200px;
    max-width: 980px;
    text-align: right;
    padding-right: 3rem;
    text-decoration:underline;
}
/* .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    padding: 4rem 1rem;
    flex-grow: 1;
} */

@media (max-width: 767px) {
    /* .markdown-body { padding: 1rem; } */
    .content {padding: 1rem;}
}


/*<= 1200px时,隐藏右侧toc md toc内容 */
.md-toc {
    padding:5rem 1rem 2rem 1rem;
    width:200px;
    justify-content: flex-start;
    margin-right: auto;
}
.md-toc > a, .md-toc > span {
    text-decoration: none;
    color: hsla(0, 0%, 60%, 100%);
    font-size: 1rem;
}
.md-toc-line {
    margin: 0.5rem 0;
    border: 0.5px solid #737373;
}
/* toc样式 */
.toc-container {
    box-sizing: border-box;
    background-color: hsla(0,0%,90%,5%);
}
.toc-list {
    list-style: none; 
    padding-left:0.75rem;
}
.toc-item {
    margin-top: 0.25rem;
}
.toc-item > .toc-link {
    text-decoration: none;
    color: hsla(0, 0%, 60%, 100%);
    font-size: 1rem;
}
.toc-item > .toc-link:hover {
    cursor: pointer;
    /* color: rgb(58, 138, 232); */
    color: inherit;
}