.main-warpper {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.edit-warpper {
    background-color: #f6f6f6;
    box-sizing: border-box;
    height: calc(100vh - 6rem);
    /* background-image: url("../../public/bg.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-size: 100% 100%; */
}