.main-warpper {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.edit-warpper {
    box-sizing: border-box;
    padding: 2rem 0;
    height: calc(100vh - 10vh);
    
    margin: 0 auto;
}
